<h2>Reviews of {{model.title}}</h2>
<h4>by {{model.firstname}} {{model.lastname}}</h4>
<br>

{{#each model.reviews as |review|}}

  <p><strong>Rating: </strong> {{review.rating}}   {{rating-symbol review}}</p>
  <p><strong>Username: </strong> {{review.username}} </p>
  <p><strong>Comments: </strong><br> {{review.comments}} </p>
  <hr>
{{/each}}

{{new-review-form saveNewReview2="saveNewReview3" book=model}}
