<h2>Reviews of {{model.title}}</h2>
<h4>by {{model.firstname}} {{model.lastname}}</h4>

{{#each model.reviews as |review|}}
  <!-- {{review display here}} -->
{{/each}}

{{new-review-form saveNewReview2="saveNewReview3" review=model}}
